node_modules/
.env.hidden
react/components/Component.tsx
out
.vscode-test
stackRegistry.json
dist
.env
.vscode/launch.json
test-workspace/.env
stacks/.env
.DS_Store
.package-lock.json
.package.json
tsconfig.json
stacks/package.json
stacks/package-lock.json
tsconfig.json
.gitignore
