@tailwind base;
@tailwind components;
@tailwind utilities;

.common-styled input {
  @apply w-full
  rounded-md
  border
  border-gray-300
  p-3
  transition
  duration-200
  focus:border-blue-500
  focus:outline-none;
}

.common-styled button,
.common-styled [type='button'],
.common-styled [type='reset'],
.common-styled [type='submit'] {
  @apply rounded
  bg-blue-500
  px-4
  py-3
  font-bold
  text-white
  hover:bg-blue-700
  disabled:bg-slate-500;
}
