// A launch configuration that compiles the extension and then opens it inside a new window
// Use IntelliSense to learn about possible attributes.
// Hover to view descriptions of existing attributes.
// For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
{
    "version": "0.2.0",
    "configurations": [
      {
        "name": "Run Extension",
        "type": "extensionHost",
        "request": "launch",
        "args": ["--extensionDevelopmentPath=${workspaceFolder}"],
        "outFiles": ["${workspaceFolder}/dist/**/*.js"],
        "preLaunchTask": "${defaultBuildTask}",
        "env": {
          "OPENAI_API_KEY": "YOUR_OPENAI_API_KEY",
          "PINECONE_API_KEY": "YOUR_PINECONE_API_KEY",
          "REPLICATE_API_TOKEN": "YOUR_REPLICATE_API_TOKEN",
          "PINECONE_ENVIRONMENT": "YOUR_PINECONE_ENVIRONMENT"
        }
      },
      {
        "name": "Extension Tests",
        "type": "extensionHost",
        "request": "launch",
        "args": [
          "--extensionDevelopmentPath=${workspaceFolder}",
          "--extensionTestsPath=${workspaceFolder}/out/test/suite/index"
        ],
        "outFiles": [
          "${workspaceFolder}/out/**/*.js",
          "${workspaceFolder}/dist/**/*.js"
        ],
        "preLaunchTask": "tasks: watch-tests"
      }
    ]
}